@each $i in 1,2,3{
 .m-#{$i}{
    margin: $i#{rem};
 }
 .mx-#{$i}{
    margin: 0 $i#{rem};
 }
 .my-#{$i}{
    margin: $i#{rem} 0;
 }
 .mr-#{$i}{
    margin-right: $i#{rem};
 }
 .mb-#{$i}{
    margin-bottom: $i#{rem};
 }
 .ml-#{$i}{
    margin-left: $i#{rem};
 }
}