.nav_icon {
  position: absolute;
  right: 2rem;
  @include w-h(2.5rem, 0.3rem);
  background: $gray-900;
  &::before,
  &::after {
    @include prefix(transition, all 0.5s ease-in);
    @include sudo();
  }
  &::before {
    @include prefix(transform, translateY(-1rem));
  }
  &::after {
    @include prefix(transform, translateY(1rem));
  }
  &.active {
    & {
      background: transparent;
    }
    &::before {
      @include prefix(transform, rotate(45deg));
    }
    &::after {
      @include prefix(transform, rotate(-45deg));
    }
  }
}
.nav_manue{}