.navbar{
  height: 6.5rem;
}
.navigation{
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .nav_list{
    display: inline-block;
    margin: 0 0.4rem;
  }
}
.nav_icon {
  position: absolute;
  @include w-h(3rem, 0.3rem);
  background: $gray-900;
  display: none;
  &::before,
  &::after {
    @include prefix(transition, all 0.5s ease-in);
    @include sudo();
    left: 0;
    @include w-h(100%, 100%);
    background: $gray-900;
  }
  &::before {
    @include prefix(transform, translateY(-0.8rem));
  }
  &::after {
    @include prefix(transform, translateY(0.8rem));
  }
  &.active {
    & {
      background: transparent;
    }
    &::before {
      @include prefix(transform, rotate(45deg));
    }
    &::after {
      @include prefix(transform, rotate(-45deg));
    }
  }
}