.container{
    max-width: $container;
    margin: 0 auto;
    width: calc(100% - 2rem);
    padding: 0 1rem !important;
}

// border-star
@for $i from 1 through 3{
    .round-#{$i}{ 
        border-radius: $i#{rem};
    }
}
.round-top-left{
    border-top-left-radius: 1rem;
}
.round-top-right{
    border-top-right-radius: 1rem;
}
.round-bottom-left{
    border-bottom-left-radius: 1rem;
}
.round-bottom-right{
    border-bottom-right-radius: 1rem;
}
.round-circle{
    border-radius: 50%;
}
.border{
    border: 0.1rem solid $gray-900;
} 
.border-hulf{
    border: 0.2rem solid $gray-900;
} 
.border-1{
    border: 0.3rem solid $gray-900;
}
.border-left{
    border-left: 0.1rem solid $gray-900;
}
.border-top{
    border-top: 0.1rem solid $gray-900;
}
.border-right{
    border-right: 0.1rem solid $gray-900;
}
.border-bottom{
    border-bottom: 0.1rem solid $gray-900;
}
.border-left-1{
    border-left: 0.3rem solid $gray-900;
}
.border-top-1{
    border-top: 0.3rem solid $gray-900;
}
.border-right-1{
    border-right: 0.3rem solid $gray-900;
}
.border-bottom-1{
    border-bottom: 0.3rem solid $gray-900;
} 
// border-end
// box-shadow-star
.box-shadow{
    @include shadow(0,0rem,0.3rem,$gray-400);
}
.box-shadow-h-1{
    @include shadow(0.5rem,0,0.5rem,$gray-400);
}
.box-shadow-h-2{
    @include shadow(1rem,0,1rem,$gray-400);
}
.box-shadow-v-1{
    @include shadow(0,0.5rem,0.5rem,$gray-400);
}
.box-shadow-v-2{
    @include shadow(0,1rem,1rem,$gray-400);
}
.box-shadow-1{
    @include shadow(0,0rem,0.5rem,$gray-400);
}
.box-shadow-2{
    @include shadow(0,0rem,1rem,$gray-400);
}
.box-shadow-inset{
    @include shadow-inset(inset,0,0rem,1rem,$gray-400);
}
.box-shadow-inset-v-1{ 
    @include shadow-inset(inset,1rem,0rem,1rem,$gray-400);
}
.box-shadow-inset-h-1{
    @include shadow-inset(inset,0,1rem,1rem,$gray-400);
}
// box-shadow-end
// position-start
.translate-middle{ 
    @include prefix(transform,translate(-50%, -50%));
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.star{
    position: absolute;
    left:0;
}
.bottom{
    position: absolute;
    bottom: 0;
}
.top{
    position: absolute;
    top:0;
}
.end{
    position: absolute;
    right:0;
}
// position-end
// image-start
.img-res{
    width: 100%;
    height: 100%;
}
// image-end