@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.logo {
  width: 9rem;
  height: 5rem;
  object-fit: contain;
}
.container {
  max-width: 1140px;
  padding: 0 1rem;
  width: calc(100% - 2rem);
  margin: 0 auto;
}
.d-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
header {
  background: #070425;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  color: #5d50e8;
  font-size: 1.7rem;
}
div a ion-icon {
  color: white;
  font-size: 1.6rem;
  margin: 0 0.6rem;
}
.card {
  height: 250px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-all {
  padding: 2rem 0;
}
.text {
  background: #fff;
  padding: 0.4rem 1rem;
  cursor: pointer;
}
.copy-done {
  position: fixed;
  top: 10px;
  left: 50%;
  background: white;
  padding: 0.5rem 1rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.copy-done ion-icon {
  color: green;
}
.copy-done.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: all 0.5s ease-in-out;
}
