@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.container{
    max-width: 1140px;
    padding: 0 1rem;
    width: calc(100% - 2rem);
    margin: 0 auto;
}
.d-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.p-2{
    padding-top: 2rem;
    text-align: center;
}
.card{
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.color-all{
    padding: 2rem 0;
}
.text{
    background: #fff;
    padding: 0.4rem 1rem;
    cursor: pointer;
}